<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    {{#each products}}
    <div>
        <h2>{{Title}}</h2>
        <p>{{Description}}</p>
        <p>Price: {{Price}}</p>
        <img>{{Thumbnail}}</img>
        <a href="/products/{{_id}}">View Details</a>
        <form action="/products/register" method="POST">
            <input type="hidden" name="Title" value="{{Title}}">
            <input type="hidden" name="Description" value="{{Description}}">
            <input type="hidden" name="Price" value="{{Price}}">
            <input type="submit" value="Add to Cart">
        </form>
    </div>
    {{/each}}
</body>
</html>
